<div class="container">
       <div class="row">
         {{#each result}}
            <div class="col-md-4">
                
                    <div class="news-container" data-id="{{this._id}}">
                        <h3>{{this.title}}</h3>
                        <img src="{{this.image_link}}" alt="news_image"  />
                        <p class="news-summary">{{this.summary}}</p>
                        <a class="news-url" href="{{this.news_link}}">{{this.news_link}}</a>
                    </div> 

                    {{#unless this.comment}}
                        <div class="row">
                            <p>There is no comment yet.</p>
                        </div>    
                    {{/unless}}
                 
                        <p id="comment-title">Comments</p> 
                        {{#each this.comment}}
                        <div class="row">
                        <p id="comment">{{this.body}}</p>
                        </div>
                         {{/each}}
                     
        

                     <div class="comment-section">
                        <form method="POST" action="/articles/{{this._id}}">
                         <div class="form-group col-md-7">
                             <input class="form-control" type="text" id="body" name="body" required/>
                        {{!-- <textarea class="form-control" type="text" id="comment-input"></textarea> --}}
                         </div>
                         <div class="col-md-5">
                             <button type="submit" id="save-comment" class="btn-sml btn-outline-secondary">Comment</button>
                         </div>
                         </form>
                    </div>        
            </div>
           {{/each}}  
         </div>    
             
    </div>              
    
     

     