<div class="container">
    <div class="row">
         {{#each result}}
            <div class="col-md-4">
                <div class="row">
                    <div class="news-container" data-id="{{this._id}}">
                        <h3>{{this.title}}</h3>
                        <img src="{{this.image_link}}" alt="news_image"  />
                        <p class="news-summary">{{this.summary}}</p>
                        <a class="news-url" href="{{this.news_link}}">{{this.news_link}}</a>
                        
                        {{#unless this.commnet}}
                            <p>There is no comment yet.</p>
                        {{/unless}} 
                        {{#if this.comment}}   
                            <p id="comment-title">Comments</p> 
                            <p id="comment">{{this.comment}}</p>
                            <p id="comment-time">{{this.created_time}}</p>  
                        {{/if}}    
                    </div> 
                </div> 
               <div class="comment-section">
                <div class="row">
                <form method="POST" action="/articles/{{this._id}}">
                    <div class="form-group col-md-7">
                        <input type="text" id="comment-input">
                    </div>
                     <div class="col-md-5">
                         <button type="submit" id="save-comment" class="btn-sml btn-outline-secondary">Comment</button>
                    </div>
                </div>
            </form>
             </div>
    </div>
         {{/each}}
</div>
     